.result {
  height: 60px;
  background-color: #433437;
  width: 100%;
  text-align: right;
  p {
    color: #ffffff;
    font-size: 40px;
    margin: 5px;
  }
}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  background-color: #cb8e98;
  .clearbtn {
    width: 50% !important;
  }

  .dark {
    background-color: #d12c4d;
    color: #ffffff;
  }
  button {
    width: 25%;
    border-color: #cb8e98;
    background-color: #ffffff;
    color: #000000;
    border-width: 1px;
    height: 60px;
    font-size: 30px;
  }
}
